@import "./styles/mixin";
@import "./styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-image-mobile: url("/assets/bg-mobile-light.jpg");
  --background-image-desktop: url("/assets/bg-desktop-light.jpg");
  --body-bg: #{$very-light-gray};
  --card-color: #{$very-light-gray};

  --text-color: #{$dark-grayish-blue};
  --highlight-text-color: #{$very-dark-grayish-blue};

  --line-color: #{$very-light-grayish-blue};

  &.dark {
    --background-image-mobile: url("/assets/bg-mobile-dark.jpg");
    --background-image-desktop: url("/assets/bg-desktop-dark.jpg");
    --body-bg: #{$very-dark-blue};
    --card-color: #{$very-dark-desaturated-blue};

    --text-color: #{$very-dark-grayish-blue-233};
    --highlight-text-color: #{$light-grayish-blue-234};

    --line-color: #{$very-dark-grayish-blue-237};
  }
}

html,
body {
  height: 100vh;
}

body {
  background-image: var(--background-image-mobile);
  background-color: var(--body-bg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: var(--background-image-desktop);
  }
}
