@import "./styles/mixin";
@import "./styles/variables";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 1rem;
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: 500px;
  }

  &__themeBtn {
    @include reset-btn;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      color: $very-light-gray;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-size: 34px;
    }
  }

  &__bg {
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 0.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    @media only screen and (min-width: 768px) {
    }
  }

  &__responsiveButtons {
    width: 100%;
    background-color: var(--card-color);

    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: $border-radius;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  &__btn {
    @include reset-btn;
    cursor: pointer;
    font-weight: 600;
    color: var(--text-color);

    &:hover {
      color: var(--highlight-text-color);
    }
  }

  &__btnActive {
    @extend .mainContainer__btn;
    color: $bright-blue;
  }
}
